body {
        /*font-family: "Meiryo", "Noto Serif JP";*/
}

.char{
        max-width: 600px;
        margin: 0 auto;
}

.message-icon{
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
}

.message-text{
        display: inline-block;
        max-width: 70%;
        border-radius: 1rem;
}